
html {
    height: 100%;
    overflow: hidden;
    font-family: 'Righteous', cursive;
}

body {
    background-color: #fad02c;
    height: 100%;
}

#main {
    border: 10px solid;
    width: 1000px;
    height: 94%;
    margin: auto;
    background-image: url("background.png");
    background-size: 1000px 100%; 
}

h1.title {
    color: yellow;
    margin: 150px auto 0 auto;
    width: 500px;
    text-align: center;
    font-size: 90px;
    background-color: #202028;
    border: 2px solid #202028;
    user-select: none;
}

div.divbtn {
    margin: 0 auto;
    text-align: center;
}

a.btn2 {
    font-size: 35px;
    width: 300px;
}

a.btn3 {
    color: #202028;
    background-color: yellow;
}

a.btn3:hover {
    color: yellow;
    background-color: #202028;
}

.btn {
    margin: 50px auto 0 auto;
    display: inline-block;
    text-decoration: none;
    color: yellow;
    padding: 15px 40px;
    font-size: 55px;
    background-color: #202028;
    text-align: center;
    box-shadow: 10px 10px  black; 
}
  
.btn:hover {
    background-color: yellow;
    text-decoration: none;
    color: #202028;
}
#ranking{
    margin: auto;
    width: 60%;
   background: #202028;
   padding-bottom: 5px;
}
.player{
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    color: aliceblue;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content:space-around;
}

.number{
    float: left;
    
}

.point{
    float: right;
}

#button-menu{
    font-size: 25px;
    float: left;
    margin-top: 10px;
    background: #058621;
    color: antiquewhite;
    font-family: 'Righteous', cursive;

}
